* {
  font-family: "SF Pro KR", "SF Pro Text", "Yoon Gothic"
  , "Myriad Set Pro", "SF Pro Icons", "Apple Gothic", "-apple-system"
  , "BlinkMacSystemFont","Apple SD Gothic Neo"
  , "Inter", "Spoqa Han Sans", "HY Gulim", "MalgunGothic", "HY Dotum"
  , "Lexi Gulim", "Helvetica Neue", "Helvetica"
  , "Arial", "sans-serif", "Segoe UI"
  , "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
